---
---
<div class="cosmos">
  <div class="cosmos-base"></div>
  <div class="cosmos-nebula cosmos-nebula-1"></div>
  <div class="cosmos-nebula cosmos-nebula-2"></div>
  <div class="cosmos-nebula cosmos-nebula-3"></div>
  <div class="cosmos-stars"></div>
  <div class="cosmos-grain"></div>
</div>
