---
const year = new Date().getFullYear();
---
<footer>
  <div class="footer-logo">is<em>history</em></div>
  <ul class="footer-links">
    <li><a href="/#episodes">Series</a></li>
    <li><a href="/search/">Search</a></li>
  </ul>
  <div class="footer-copy">© {year} ishistory</div>
</footer>
